@import "./styles/all_variables.css";

/* --------site entier--------- */
* {
  font-family: var(--main-font);
  margin: 0;
  text-decoration: none;
}
html,
body {
  max-height: 100vh;
  max-width: 100vw;
}
/* -----haut du site (navbar)----- */
header {
  background: linear-gradient(#1f6472, #aff7ff);
  height: 3.125rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* ---menu burger, se connecter et s'inscrire---*/

.header-btn {
  height: 1.5rem;
  border: 2px solid var(--main-color);
  border-radius: 0.5rem;
  background-color: var(--btn-color);
  color: var(--text-color);
  padding: 3px;
  margin: 0.5rem;
  text-align: center;
}

/* --------le logo-------- */
.logo {
  height: 2rem;
  width: 2rem;
  padding: 5px 4px;
}
/* -----les boutons se connecter et s'inscrire----- */
.header-right {
  display: inline-flex;
}
/* contenu principal */
main {
  background-image: url(./assets/image/background\ image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-background {
  backdrop-filter: blur(3px);
}

/* --------titre-------- */
h1 {
  font-family: var(--title-font);
  text-align: center;
  font-size: 2, 1rem;
  text-shadow: 2px 2px 6px var(--shadow-color);
  animation-duration: 3s;
  animation-name: slide;
}
/* animation qui fait glisser le titre de la droite jusqu'au centre  */
@keyframes slide {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.span-title {
  font-family: var(--title-font);
  color: var(--btn-color);
  text-shadow: 2px 2px 6px var(--main-color);
}

/* --------sous-titre-------- */
h2 {
  max-width: 12.5rem;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3.125rem;
  font-size: 1.1rem;
  text-shadow: 2px 2px 6px var(--shadow-color);
}
 /*----- les 2 call to ation -----*/
.cta-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 4.5rem;
  margin-bottom: 30px;
}
/* --------bouton télécharger-------- */
.primary-button  {
  height: 2rem;
  width: 10rem;
  background-color: var(--second-color);
  border: 2px solid var(--text-color);
  border-radius: 8px;
  font-size: large;
  box-shadow: 4px 4px 6px 4px;
  color: var(--main-color);
  border-color: var(--main-color);
  padding: 10px;
}

/* --------bouton réduction-------- */


.secondary-button  {
  height: 2rem;
  width: 8rem;
  background-color: var(--second-color);
  border: 2px solid var(--text-color);
  border-radius: 8px;
  font-size: large;
  box-shadow: 4px 4px 6px 4px;
  color: var(--main-color);
  border-color: var(--main-color);
  padding: 10px;
}

/* liens réseaux sociaux: telegram, mastodon et Bluesky */
.links-container {
  display: flex;
  justify-content: space-evenly;

  margin-top: 10rem;
}

.links-button svg {
  padding: 10px;
}

/* --------- bas de page--------- */
footer {
  background: linear-gradient(#aff7ff, #1f6472);
  height: 3.125rem;
}
/* liens légaux */
p {
  color: var(--text-color);
  padding: 2rem;
  text-align: center;
  text-shadow: 2px 2px 6px var(--shadow-color);
}
