@import "./styles/all_variables.css";

/* --------site entier, projet sans design pré-configuré--------- */
* {
  margin: 0;
  text-decoration: none;
  padding: 0;
  border: 0;
}
/* ----sur le projet entier---- */
html,
body {
  height: 100%;
}
body {
  max-height: 100vh;
  width: 100vw;
  font-family: var(--main-font);
}
/* -----haut du site (navbar) et bas du site----- */
header,
footer {
  background: linear-gradient(#1f6472, #aff7ff);
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* contenu principal */
main {
  flex: 1;
  background-image: url(./assets/image/background\ image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* --------titre-------- */
h1 {
  font-family: var(--title-font);
  font-size: var(--title-font-size);
  text-shadow: var(--text-shadow) var(--shadow-color);
  animation-duration: 3s;
  animation-name: slide;
}
/* --------sous-titre-------- */
h2 {
  max-width: var(--spacing-xl);
  margin-top: var(--spacing-sm);
  font-size: var(--subtitle-font-size);
  text-shadow: var(--text-shadow) var(--shadow-color);
}
/* -----mentions légales------ */
p {
  color: var(--text-color);
  padding: var(--spacing-xsm);
  text-align: center;
  text-shadow: var(--text-shadow) var(--shadow-color);
}

/* ---menu burger, se connecter et s'inscrire---*/

.header-btn {
  height: var(--spacing-sm);
  border: 2px solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--btn-color);
  color: var(--text-color);
  margin: var(--spacing-xsm);
  font-size: var(--btn-font-size);
  display: inline-flex;
  text-align: center;
  align-items: center;
  transition: 0.3s;
}
.header-btn:active {
  background-color: var(--second-color);
}

/* --------le logo-------- */
.logo {
  height: var(--spacing-sm);
  width: var(--spacing-sm);
  padding: var(--spacing-xsm);
}

/* ---l'effet de flou sur le fond d'écran--- */
.main-background {
  backdrop-filter: blur(3px);
}

/* ----le titre et sous-titre---- */
.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: var(--spacing-m);
}

/* animation qui fait glisser le titre de la droite jusqu'au centre  */
@keyframes slide {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
/*--changement de couleur dans le titre--*/
.span-title {
  font-family: var(--title-font);
  color: var(--btn-color);
  text-shadow: 2px 2px 6px var(--main-color);
}

/*----- les 2 call to ation -----*/
.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-sm);
  gap: var(--spacing-xsm);
}

/* --------bouton télécharger-------- */
.cta-btn {
  height: var(--spacing-sm);
  width: var(--spacing-xl);
  background-color: var(--second-color);
  border: 2px solid var(--text-color);
  border-radius: var(--border-radius);
  font-size: var(--btn-font-size);
  text-transform: uppercase;
  box-shadow: var(--box-shadow);
  color: var(--main-color);
  border-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.cta-btn:active {
  background-color: var(--main-color);
  color: var(--second-color);
}

/* --------bouton réduction-------- */

/* liens réseaux sociaux: telegram, mastodon et Bluesky */
.links-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: var(--spacing-l);
}

.links-button {
  padding: var(--spacing-xsm);
}

.links-mention {
  color: var(--main-color);
}
