:root {
    /* -----type de font----- */
    --main-font: 'Sunny Spells Basic';
    --title-font: 'Sketch Checkin';
    /* ----taille de font---- */
    --title-font-size: 2rem;
    --subtitle-font-size: 1.1rem;
    --btn-font-size: 1rem;
}


@font-face {
  font-family: "Sunny Spells Basic";
  src: url(../assets/fonts/SunnySpellsBasicRegular-Yz1Wv.ttf);
}

@font-face {
  font-family: "Sketch Checkin";
  src: url(../assets/fonts/SketchCheckinDemoVersion-R9LJW.otf);
}

